@font-face {
    font-display: swap;
    font-family: "GraphikLCG";
    font-style: normal;
    font-weight: 300;
    src: url("/./fonts/GraphikLCG-Regular.ttf") format('truetype');
}

@font-face {
    font-display: swap;
    font-family: "GraphikLCG";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/GraphikLCG-Semibold.ttf") format('truetype'); 
}

