* {
    box-sizing: border-box;
    
}



.container { 
    position: absolute;
    width: 100%;
    text-align: center;
    
    
}

#Cards {
    display: inline-block;
    text-align: center;
   top: 50%; 
    width: 100%;
    position: relative;
    min-width: 200px;
    height: 100%;
    max-width: 800px;
    font-size: 0px;
    
}

.cards {
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
    
    position: relative;
    background-color: rgba(184, 184, 193, 0.332); 
    width: 200px;
    min-height: 226px;
    

    
    
}

.img-box {
    display: block;
    align-self: center;
    align-items: center;
    width: fit-content;
    max-width: 1500px;
    min-width: 100px;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    object-position: center;
    
    margin-top: 10%; ; 
    
   
}

img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 113px;
    background-color: black;
    align-content: center;
    margin-top: 10%; ; 
   
    
}

.title {
    font-size: 20px;
    
    margin-top: 30px;
    color: black;
    text-align: center;
    
}

.cardtext {
    font-size: 15px;
    margin: 30px;
    padding-bottom: 10px;
    color: rgb(13, 9, 9);
    text-align: center;
    overflow: hidden;
    
}


.img-box img {
    
    object-fit: cover;
    transition: 0.2s linear all;
}

.img-box:hover img {
    transform: scale(1.1);
}
